.Body {
  color: black;
}
.toggle {
  width: 50%;
  height: 10%;
  background-color: #c8d5e4;
  border: none;
  color: #213455;
  font-size: large;
}

.toggle:hover {
  border-bottom: 2px solid #32609c;
}

.toggle:focus {
  border-bottom: 2px solid #32609c;
}

#frndMenu {
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Poloroid {
  margin: auto;
  width: 600px;
  height: 450px;
  background-color: aliceblue;
  padding-top: 20px;
  padding-left: 20px;
}

.photo {
  color: black;
  background-color: cadetblue;
  width: 560px;
  height: 350px;
}
