.Body {
  padding-top: 8vh;
  height: 100vh;

  display: flex;
}
.chatMenu {
  flex: 2.3;
  background-color: #c8d5e4;
}
.menuInput {
  padding: 10px 0;
  width: 90%;
  border: none;
  border-bottom: 1px solid #32609c;
  padding-left: 10px;
  background-color: #c8d5e4;
  color: black;
}
.menuWrapper {
  border-right: 1px solid rgb(15, 22, 34, 0.7);
}
.chatMain {
  flex: 5.5;
  background-image: url("./Image/chatBckgrnd.jpg");
  background-attachment: fixed;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chatTop {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 3vh;
}
.chatTop::-webkit-scrollbar {
  width: 5px;
}
.chatTop::-webkit-scrollbar-track {
  background: transparent;
}
.chatTop::-webkit-scrollbar-thumb {
  background-color: #405f94;
  border-radius: 10px;
}
.chatBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
  overflow-y: auto;
  color: black;
}
.chatInput::-webkit-scrollbar {
  display: none;
}
.chatSend {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #213455;
  color: white;
}

.mainWrapper,
.menuWrapper {
  padding: 10px;
  height: 100%;
}
.noConvo {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.486);
  margin-top: 25%;
  margin-left: 3%;
}
