@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  color: white;
}
.body {
  padding-top: 2vh;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#main {
  height: 98vh;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #f2f4f4;
  background-image: url("./Image/bckgrndLogin.jpg");
  background-attachment: fixed;
  align-content: center;
  background-size: cover;
}
.regHead {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.userImg {
  margin-top: 15px;
  margin-bottom: -25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
  object-fit: cover;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  padding: 20px;
  color: black;
  background-color: #f2f4f4;
  border-radius: 20px;
  border: 1px solid rgba(52, 73, 94, 0.1);
}
input {
  border: 0;
  outline: 0;
  font-size: medium;
}
input[file] {
  border: 0 !important;
  color: white;
}
input:focus {
  outline: none !important;
}
.radioGroup {
  font-size: large;
  margin-top: 15px;
  margin-bottom: -10px;
  padding: 20px;
  color: white;
}
input[type="file"]::file-selector-button {
  font-family: "Itim", cursive;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #aeb6bf;
  margin-left: 60px;
  margin-right: 10px;
}
.btn:hover,
input[type="file"]::file-selector-button:hover {
  opacity: 0.8;
}
.btn {
  text-align: center;
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 30px 15px;
  margin-bottom: 15px;
  background-color: #34495e;
  color: #f2f4f4;
  font-size: x-large;
}
.signupImg {
  max-width: 100%;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.Img {
  width: 500px;
  height: 400px;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.img,
.Img {
  border-left: 1px solid rgba(52, 73, 94, 0.1);
}
.img,
.Img,
.regForm {
  display: table-cell;
  vertical-align: middle;
}
.regBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: table;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
}
.form-element {
  justify-content: left;
  display: flex;
  margin: auto;
  margin-top: 20px;
}
.form-element.err {
  border: 2.5px solid #ff0000;
}
.loginWelcome {
  opacity: 0.7;
  text-align: center;
  color: #f2f4f4;
}
.regHead {
  color: white;
}

/* set-prefernce css */

div label input {
  margin-right: 100px;
}
#genere {
  overflow: hidden;
  margin: 57px 0;
  margin-left: 25%;
  height: auto;
  width: 50%;
  padding-left: 80px;
}
#mbtn {
  margin-left: -70px;
}
#mHead {
  font-size: 60px;
}
.movie {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #104068;
  border-color: #0f1622;
  border-radius: 8px;
  overflow: hidden;
  width: 8em;
}
.movie1,
.movie2,
.movie3 {
  float: left;
  margin: auto;
  padding: 10px;
  align-items: center;
}

.movie label {
  line-height: 3em;
  width: 8em;
  height: 3em;
}

.movie label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.movie label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.movie label input + span {
  color: #fff;
  border-color: #0f1622;
}

/* This will declare how a selected input will look giving generic properties */
.movie input:checked + span {
  border-color: #0f1622;
  color: #1d1b1b;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.action input:checked + span {
  background-color: #ffadad;
}
.comedy input:checked + span {
  background-color: #ffd6a5;
}
.animated input:checked + span {
  background-color: #fdffb6;
}
.musical input:checked + span {
  background-color: #caffbf;
}
.mystery input:checked + span {
  background-color: #9bf6ff;
}
.thriller input:checked + span {
  background-color: #a0c4ff;
}
.sci-fi input:checked + span {
  background-color: #bdb2ff;
}
.romance input:checked + span {
  background-color: #ffc6ff;
}
.drama input:checked + span {
  background-color: #cddafd;
}
