@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}
.body {
  padding-top: 2vh;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#main {
  height: 98vh;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #f2f4f4;
  align-content: center;
}
.regHead {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.userImg {
  margin-top: 15px;
  margin-bottom: -25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  padding: 20px;
  background-color: #f2f4f4;
  border-radius: 20px;
  border: 1px solid rgba(52, 73, 94, 0.1);
}
input {
  border: 0;
  outline: 0;
  font-size: medium;
}
input[file] {
  border: 0 !important;
}
input:focus {
  outline: none !important;
}
.radioGroup {
  font-size: medium;
  margin-top: 15px;
  margin-bottom: -10px;
  padding: 20px;
}
input[type="file"]::file-selector-button {
  font-family: "Itim", cursive;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #aeb6bf;
  margin-left: 60px;
  margin-right: 10px;
}
.btn:hover,
input[type="file"]::file-selector-button:hover {
  opacity: 0.8;
}
.btn {
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 30px 15px;
  margin-bottom: 15px;
  background-color: #34495e;
  color: #f2f4f4;
  font-size: x-large;
}
.signupImg {
  max-width: 100%;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.Img {
  width: 500px;
  height: 400px;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.img,
.Img {
  border-left: 1px solid rgba(52, 73, 94, 0.1);
}
.img,
.Img,
.regForm {
  display: table-cell;
  vertical-align: middle;
}
.regBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 5px 5px #888888;
  display: table;
  background-color: white;
  width: 70%;
  height: 70%;
  margin: auto;
  border-radius: 15px;
}
.form-element {
  justify-content: left;
  display: flex;
  padding: 20px;
  padding-left: 0;
  margin: auto;
  margin-top: 20px;
}
.loginWelcome {
  opacity: 0.7;
  text-align: center;
}
