@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}
.body {
  padding-top: 2vh;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#main {
  height: 98vh;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #f2f4f4;
  background-image: url("./Image/bckgrndLogin1.jpg");
  background-attachment: fixed;
  background: position auto;
  align-content: center;
  background-size: cover;
}
.regHead {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.userImg {
  margin-top: 15px;
  margin-bottom: -25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  padding: 20px;
  background-color: #f2f4f4;
  border-radius: 20px;
  border: 1px solid rgba(52, 73, 94, 0.1);
}
input {
  border: 0;
  outline: 0;
  font-size: medium;
}
input[file] {
  border: 0 !important;
}
input:focus {
  outline: none !important;
}
.radioGroup {
  font-size: medium;
  margin-top: 15px;
  margin-bottom: -10px;
  padding: 20px;
}
input[type="file"]::file-selector-button {
  font-family: "Itim", cursive;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #aeb6bf;
  margin-left: 60px;
  margin-right: 10px;
}
.btn:hover,
input[type="file"]::file-selector-button:hover {
  opacity: 0.8;
}
.btn {
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 30px 15px;
  margin-bottom: 15px;
  background-color: #34495e;
  color: #f2f4f4;
  font-size: x-large;
}
.signupImg {
  max-width: 100%;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.Img {
  width: 500px;
  height: 400px;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.img,
.Img {
  border-left: 1px solid rgba(52, 73, 94, 0.1);
}
.img,
.Img,
.regForm {
  display: table-cell;
  vertical-align: middle;
}
.regBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 5px 5px #0f1622;
  display: table;
  /* background-color: white; */
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
}
.form-element {
  justify-content: left;
  display: flex;
  /* padding: 20px;
  padding-left: 0; */
  margin: auto;
  margin-top: 20px;
}
.loginWelcome {
  opacity: 0.7;
  text-align: center;
  color: #f2f4f4;
}
.regHead {
  color: white;
}

/* set-prefernce css */

div label input {
  margin-right: 100px;
}

.movie {
  margin: 4px;
  background-color: #104068;
  border-radius: 8px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.movie label {
  font-size: medium;
  float: left;
  line-height: 3em;
  width: 8em;
  height: 3em;
}

.movie label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.movie label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.movie label input + span {
  color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.movie input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.action input:checked + span {
  background-color: #f75a1b;
}
.comedy input:checked + span {
  background-color: #1bb8f7;
}
.animated input:checked + span {
  background-color: #d9d65d;
}
.musical input:checked + span {
  background-color: #82d44e;
}
.mystery input:checked + span {
  background-color: #f3a4cf;
}
.thriller input:checked + span {
  background-color: #8c1b1b;
}
.sci-fi input:checked + span {
  background-color: #ac9bd1;
}
.romance input:checked + span {
  background-color: #f374be;
}
.drama input:checked + span {
  background-color: #ffbe0d;
}
